

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0 !important;
}
body{
   background-color: whitesmoke;
   
   
}
header{
    height: 130px;
    background-color: #f72210;
    padding: 10px 10px;
    color: white;
}
.subscribe-button {
    background-color: #ffe400;
    color: black;
    border-radius: 20px;
    align-items: center;
  }
  
  .navbar-button {
    margin-top: 26px;
    text-align: right;
  }

@media (max-width: 992px) {
    .navbar-nav {
      margin-top: 0;
    
    }
  
    .subscribe-button {
      padding: 4px;
      font-size: 12px;
    }
  
    .logo img {
      margin-top: 7px;
      align-self: center;
    }
  }
  .navbar-nav li{ 
    list-style-type: none;
    padding-left: 10px;
    font-weight: bold;  
}
#navbarContent{
    background-color: white;
    height: 40px;
    margin-top: -6px;
    margin-bottom: -5px;
    margin-left: -15px;
    margin-right: -15px;
   
   
}
.nav-item1 li:hover{
    color: red;
}
.Search {
    border: none;
    width: 50px;
    background: #faf9fa;
    margin-top: 5px;
    
  }
  
  .fa-search {
    position: absolute;
    margin-top: 9px;
    padding-left: 20px;
  }
.images{
    width: 70px;
    height: 70px;
    padding-right: 5px;
}
.vs{
    width: 25px;
    background-color: black;
    color: white;
    border-radius:100%;
    left: 45%;
    position: absolute;
    text-align: center;
    margin-top: -15px;
}
.hrule{
    margin: 0;
    padding: 1px;
}
@media ( max-width: 480px) {
    body{
        display: block;
    }
    .featured-stories{
        width: 480px;
    }
    .my-turn{
        display: block;
    }
}
.card{
   border: none;
}
.card .card-body a{
    color: black;
}
.red{
    background-color: red;
    color: white;
}
.label {
  margin: 10px 0;
  font-weight: bold;
}

.flex-h {
  display: flex;
}

.label-1 {
  background-color: #f72210;
  color: #fff;
  padding: 5px 10px;
}

.label-2 {
  margin-left: 10px;
  padding-top: 6px;
}

.magazine-style {
  text-align: center;
  background-color: #f4f5f6;
}

.magazine-style:hover {
  background-color: #dbdcdd;
}
.label-2 a{
  color: red;
}
.card-title a:hover{
  text-decoration: underline red;
}
.lorem a{
  color: black;
}

.media a{
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.media a:hover{
  text-decoration: underline red;
}
footer a {
  color: #6c757d;
}

.email{
  border-radius: 2px;
  padding: 3px;
  border: 1px solid lightgray;
}
.sub{
  font-size: 1.3rem;
}